.ride-header-content {
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 500px;
    background-color: var(--primary);
}

.ride-header-content::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 60%;
    background-color: var(--secondary);
    transform: rotate(-16deg) translateX(-100px);
}

.ride-header-content::after {
    content: '';
    position: absolute;
    right: 0;
    width: 120px;
    height: 70%;
    background-color: var(--secondary);
    transform: rotate(-18deg) translateX(80px);
}

.ride-header-content-grid {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
}

.ride-header-form {
    width:520px;
}

.ride-header-form input[type=text] {
    border: none;
    height: 40px;
    padding-left: 15px;
    background-color: #ffffffaf;
}

.ride-header-form input[type=submit] {
    height: 40px;
    font-weight: bold;
    font-size: large;
    color: #FFFFFF;
    background-color: #292B2D;
    border: none;
}

.ride-header-form input[type=submit]:hover {
    background-color: #454a4e;
    cursor: pointer;
}

.ride-header-map-wrapper {
    background-color: white;

    width: 100%;
    height: 100%;
}

@media (max-width: 1200px) {
    .ride-header-content {
        display:flex;
        flex-direction: column;

        height: 840px;
    }

    .ride-header-map-parent{
        height: 500px;
        padding-top: 30px;
    }

    .ride-header-form {
        width:450px;
    }

    .ride-header-content::after{
        display: none;
    }
}
