@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=EB+Garamond&display=swap');

:root {
    --mainColor: rgb(255, 152, 61);
    --mainColorLight: rgb(169, 91, 14);
    --secondaryColor: rgb(254, 193, 123);
    --textColor: rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    position: relative;
    padding-bottom: 320px;
}