nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0 2rem;
  background-color: rgb(193, 104, 15);
  color: var(--textColor)
}

nav > div a {
  margin: 0 2rem;
  color: var(--textColor);
  text-decoration: none;
}

nav > div a:hover {
  color: var(--secondaryColor);
  transition: 0.2s;
}

nav .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 600px) {
  nav .nav-btn {
    visibility: visible;
    opacity: 1;
    transition: 1s;
  }

  

  nav > div {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5 rem;
    background-color: var(--mainColor);
    transform: translateY(-100vh);
  }

  nav .responsive_nav {
    transform: none;
    transition: 1s;
  }

  nav > div .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    /* transition: 1s; */
  }

  nav > div a {
    font-size: 2.5rem;
  }
}