.window-root{
    width: 100%;

    z-index: 98;
}

.window-background-parent{
    position: fixed;

    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100vh;

    z-index: 99;
}

.window-background{

}

.window-wrapper{
    position: absolute;
    display: block;

    top: 0;
    left: 50%;
    transform: translate(-50%, 1%);

    z-index: 200;

    width:700px;
    min-height:500px;

    border:solid;
    border-radius: 2px;
    border-color: black;

    background-color: #DDDDDD;
}

.window-dragbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    width:100%;
    height:40px;

    background-color: var(--primary);
}

.window-close{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height:100%;
    width: 40px;

    color:white;

    cursor:pointer;

    background-color: #b35a2a;
}

.window-close:hover{
    background-color: #844827;
}

.window-content{
    padding: 15px;
    height:90%;
}

@media (max-width: 1200px) {
    .window-wrapper{
        width: min(700px, 90vw);
        min-height: 100%;
    }

    .window-close{
        height:100%;
        width: 50px;
    }

    .window-dragbar{
        height:50px;
    }
}